html, body {
  line-height: 1;
  font-weight: normal;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
}
li {
  list-style: none;
}
.g-cf{
	&:after{
		content: "";
		display: block;
		clear: both;
	}
	*zoom: 1;
	.g-fl{
		float: left;
	}
	.g-fr{
		float: right;
	}
}
.g-title {
  margin-top: 40px; font-size: $font-size-large; color: $font-color-primary; line-height: 26px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(.7);
      transform: scaleY(.7);
    }
  }
}


@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px {
    &::after {
      -webkit-transform: scaleY(.5);
      transform: scaleY(.5);
    }
  }
}

// 覆盖 iview 默认样式
// Carousel
.ivu-carousel {
  .ivu-carousel-dots-inside {
    bottom: 20px;
  }
  .ivu-carousel-dots {
    li {
      margin-right: 10px;
      > button {
        height: 10px; width: 10px; background: $color-dots-background; border-radius: 50%;
      }
    }
    .ivu-carousel-active {
      > button {
        width: 24px; background: $color-primary; border-radius: 53px;
      }
    }
  }
}
